<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bíblia</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-select #bookinput
            placeholder="Livro"
            value="Psalms"
            class="col70"
            (ionChange)="selectedChapter=1;read(bookinput.value)">
            <ion-select-option *ngFor="let book of books"
              [value]="book.id">
              {{book.name}}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="3">
          <ion-select *ngIf="chapter$|async as chapters"
            #chapterInput
            placeholder="Capítulo"
            [value]="selectedChapter"
            class="col30"
            (ionChange)="selectedChapter=$event.detail.value;read(bookinput.value)">
            <ion-select-option *ngFor="let chapter of chapters"
              [value]="chapter.chapter_nr">
              {{chapter.chapter_nr}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="versecontainer">
    <div class="padding versearea">
      <ion-card *ngIf="(passage$ | async)?.chapter as passage; else loading" mode="ios">
        <ion-card-content>
          <span *ngFor="let verse of passage"
            (click)="select(verse.verse_nr)"
            [ngClass]="{'selected': isSelected(verse.verse_nr)}">
            <strong>{{verse.verse_nr}}</strong> {{verse.verse}}
          </span>
        </ion-card-content>
      </ion-card>
      <ng-template #loading>
        <br>
        <br>
        <div class="center">
          <ion-spinner></ion-spinner>
        </div>
      </ng-template>
    </div>
  </div>
  <ion-fab *ngIf="selectedVerses.length"
    vertical="bottom"
    horizontal="end"
    slot="fixed">
    <ion-fab-button (click)="sendVerses()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>