<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Passagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding
  *ngIf="(reference$|async) as refs">
  <ion-card mode="ios" *ngIf="!refs.references.length">
    <ion-card-content>
      Você ainda não tem nenhuma passagem armazenada. Vá até a <a [routerLink]="['/bible']">Bíblia</a>
      e clique sobre uma passagem para selecioná-la. Depois clique em <ion-icon name="add-circle"></ion-icon> para
      gravá-la.
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let passage of refs.references"
    mode="ios">
    <ion-card-header>
      <ion-card-title>{{passage.book}} {{passage.chapter}}</ion-card-title>
      <ion-card-subtitle>{{passage.comment}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content [innerHTML]="passage.reference"></ion-card-content>
    <ion-item>
      <ion-buttons>
        <ion-button fill="clear"
          color="danger"
          (click)="removeReference(passage.id)">
          <ion-icon name="trash"></ion-icon>Remover&nbsp;
        </ion-button>
        <ion-button fill="clear"
          color="primary"
          (click)="sendComment(passage.id)">
          <ion-icon name="quote"></ion-icon>Comentar&nbsp;
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
</ion-content>
<ion-content *ngIf="!(reference$|async)">
  <ion-card mode="ios">
    <ion-card-content>
      Você não está logado. Clique no link <ion-icon name="log-in"></ion-icon> Login no menu ao lado.
    </ion-card-content>
  </ion-card>
</ion-content>