<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Timeline</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <hero-loader
    *ngIf="isAdmin | async"
    moduleName="src/app/post-form/post-form.module#PostFormPageModule"
  ></hero-loader>
  <ion-card class="example-card" mode="ios">
    <ion-card-content>
      <p>
        Toda quinta, de 13h30 às 14h00. <br />
        Rua Fernando Amaro, 60. <br />
        <ion-icon name="call"></ion-icon> 41 98873.5014 Valquiria.
      </p>
    </ion-card-content>
  </ion-card>
  <ng-container *ngIf="meeting$ | async as meetings">
    <div *ngFor="let meeting of meetings" class="timecont">
      <ion-card
        class="example-card"
        mode="ios"
        (deferLoad)="loadImg(meeting.photo)"
      >
        <div class="spinner" *ngIf="meeting.photo">
          <ion-spinner *ngIf="!loadedImgs.includes(meeting.photo)"></ion-spinner>
        </div>
        <img
          *ngIf="checkImg(meeting.photo)"
          [src]="meeting.photo"
          [alt]="makeDate(meeting.id) | date: 'dd/MM/yyyy'"
          (load)="loadImg(meeting.photo)"
        />
  
        <ion-card-header>
          <ion-card-title>{{
            makeDate(meeting.id) | date: 'dd/MM/yyyy'
          }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p [innerHTML]="meeting.message"></p>
          <app-music [id]="meeting.songId"></app-music>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>
  <ion-infinite-scroll threshold="300px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando reuniões anteriores...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
