<ion-grid>
  <ion-row>
    <ion-button (click)="takePic()">
      <ion-icon name="aperture"></ion-icon>
      Tirar Foto / Subir
    </ion-button>
    <ion-button (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row>
    <h2>Galeria Remota</h2>
  </ion-row>
  <ion-row justify-content-start align-items-start>
    <ion-thumbnail
      *ngFor="let photo of (photos$ | async)"
      (click)="selectPhoto(photo)"
    >
      <img [src]="photo" />
    </ion-thumbnail>
  </ion-row>
</ion-grid>

<input
  class="hidden"
  #capture
  capture="filesystem"
  type="file"
  accept="image/*"
  (change)="uploadFile($event)"
  [(ngModel)]="inputImage"
/>
<input
  class="hidden"
  #file
  type="file"
  capture="capture"
  accept="image/*"
  (change)="uploadFile($event)"
  [(ngModel)]="inputImage"
/>
