<ion-button (click)="takePic()">
  <ion-icon name="aperture"></ion-icon>&nbsp;Tirar Foto
</ion-button>
<input
  class="hidden"
  #file
  type="file"
  capture
  accept="image/*"
  (change)="uploadFile($event)"
  [(ngModel)]="inputImage"
/>
<ion-grid>
  <ion-row justify-content-start align-items-start>
    <ion-col align-self-center *ngFor="let photo of (photos$ | async)">
      <ion-thumbnail (click)="selectPhoto(photo)">
        <img [src]="photo" />
      </ion-thumbnail>
    </ion-col>
  </ion-row>
</ion-grid>
